.Accordion {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 1020px;
  justify-content: center;
  border-radius: 5px;
}

.AccordionHead {
  background-color: #242424;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: azure;

}
h2{
  color:green;
}
.button{
  justify-content: center;
  align-self: center;
  padding: 0.75rem;
  &:hover{
    color: brown;
    background-color: aquamarine;
  }
}



.AccordionText {
  background-color: #888888;
  color: #f9f9f9;
  p {
  margin: 1rem;

  }
}

